* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    direction: rtl;
}

.login-page {
    height: 100vh;
}

/* .login-page input::placeholder {
    direction: ltr;
} */

.pagnation-active-item {
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6;
}