<%- include("./partials/header") %>
<div class="d-flex justify-content-center align-items-center">
    <div class="alert text-center" role="alert">
      <h1 class="display-4">الصفحة غير موجودة</h1>
    </div>
</div>
<%- include("./partials/footer") %>
