<%- include("./partials/header") %>
<div class="mt-5">
    <div class="alert text-center" role="alert">
      <h1 class="display-4">حدث خطا في السرفر</h1>
    </div>
  </div>
<%- include("./partials/footer") %>
