<h4 class="mb-4 text-center">اضافة مدينة</h4>
<form method="POST" action="/dashboard/cities" enctype="application/x-www-form-urlencoded">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="الاسم" name="name"
            {{#if lastValues.name }}
                value="{{lastValues.name}}"
            {{/if}}
        >
    </div>
    {{#findError validationErrors "name" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">حفظ</button>
    </div>
</form>