<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">الرقم</th>
                <th scope="col">الاسم</th>
            </tr>
        </thead>
        <tbody>
            {{#each cities }}
                <tr>
                    <td class="py-3">{{this.dataValues.id}}</td>
                    <td class="py-3">{{this.dataValues.name}}</td>
                </tr>
            {{/each}}
      <!-- Add more rows as needed -->
        </tbody>
    </table>
    {{#if cities.length }}
    {{else}}
        <p class="alert alert-info">{{status}} لا يوجد مدن مضافة</p>        
    {{/if}}
</div>

<div class="text-center mt-3">
    <a class="btn btn-primary" href="/dashboard/cities/create">اضافة مدينة جديدة</a>
</div>